$level1: #fffbe6;
$level2: #fff1b8;
$level3: #ffe58f;
$level4: #ffd666;
$level5: #ffc53d;
$level6: #faad14;
$level7: #d48806;
$level8: #ad6800;
$level9: #874d00;
$level10: #613400;

.card {
  .level1 {
    background-color: $level1;
  }

  .level2 {
    background-color: $level2;
  }

  .level3 {
    background-color: $level3;
  }

  .level4 {
    background-color: $level4;
  }

  .level5 {
    background-color: $level5;
  }

  .level6 {
    background-color: $level6;
  }

  .level7 {
    background-color: $level7;
  }

  .level8 {
    background-color: $level8;
  }

  .level9 {
    background-color: $level9;
  }

  .level10 {
    background-color: $level10;
  }
}